<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <title>Mass Email Sender</title>
</head>
<body>
    <div class="container">
        <h1>Send Mass Emails</h1>
        <form method="POST" enctype="multipart/form-data">
            {{ form.hidden_tag() }}
            <div class="form-group">
                {{ form.sender.label }}<br>
                {{ form.sender(size=32) }}
            </div>
            <div class="form-group">
                {{ form.subject.label }}<br>
                {{ form.subject(size=64) }}
            </div>
            <div class="form-group">
                {{ form.recipients.label }}<br>
                {{ form.recipients(rows=5) }}
            </div>
            <div class="form-group">
                {{ form.message.label }}<br>
                {{ form.message(rows=10) }}
            </div>
            <div class="form-group">
                {{ form.image.label }}<br>
                {{ form.image() }}
            </div>
            <div class="form-group">
                {{ form.submit() }}
            </div>
        </form>
    </div>
</body>
</html>
